
<div class='header'>
  <h1> My Works </h1>
</div>
<hr> 

<div> 
  <h4> View all Projects on my GitHub! </h4>
</div>

<hr> 
<div class="spinner">Loading...</div>
<div class='myWorks pageLoad'>
  <div className='row'>
    <%= react_component("Portfolio") %> 
  </div>
</div> 





<!-- , props: @pages_props -->